<ion-pane>
	<div class="hic-gate full-screen">
		<div class="hic-gate-logo-container">
			<h1 class="hic-gate-logo text-center">
				<span class="hic-gate-text-flip {{hclass}}"  >{{h}}</span>
				<span class="hic-gate-text-flip {{eclass}}"  >{{e}}</span>
				<span class="hic-gate-text-flip {{lclass}}"  >{{l}}</span>
				<span class="hic-gate-text-flip {{iclass}}"  >{{i}}</span>
				<span class="hic-gate-text-flip {{oclass}}"  >{{o}}</span>
				<span class="hic-gate-text-flip {{uclass}}"  >{{u}}</span>
				<span class="hic-gate-text-flip {{nclass}}"  >{{n}}</span>
				<span class="hic-gate-text-flip {{cclass}}"  >{{c}}</span>
				<span class="hic-gate-text-flip {{eeclass}}" >{{ee}}</span>
			</h1>
		</div>
	</div>
</ion-pane>