.common-text-style-place {
	text-transform: uppercase;
	color: $global-title-color;
	text-align: left;
    font-family: opensans-regular;
    height: 32px;
    line-height: 32px;
    letter-spacing: 0.1em;
}

div {
	&.#{$hic-css-prefix}-place {

		&-facility-icon {
			margin-bottom: 5px;
			@extend .common-text-style-place;
			border-width: 1px;
			border-color: $global-text-color;
			border-style: solid;
			border-radius: 50%;
			width: 45px;
			height: 45px;
			background: #ff4c4c;
			color: $global-text-color;
			margin-left: auto;
    		margin-right: auto;

			&.available {
				background : #00b300;
			}
		}

		&-facility {
			&.row {
				width: 95%;
				margin: auto;
			}
		}

		&-details-top-div {
			height: 40%;
			width: 100%;
			background-image: url('../img/Pav_Bhaji.jpg');
			background-position: center center;
			background-repeat: no-repeat;
			position: relative;
		}

		&-details-trans-wrapper {
			position: relative;
			height: 100%;
			width: 100%;
			background-color: black;
			opacity: 0.85;
		}

		&-details-buttons {
			bottom: 0;
			width: 100%;
			position: absolute;
		}

		&-modal-body {
			padding: 2px 5px 2px 5px;
		}

		&-reviews {
			&.list {
			}
		}

		&-footer-row {
			&.row {
				padding: 0;
			}
		}

		&-footer-bar {
		    position: absolute;
		    bottom: 0;
		    width: 100%;
		}

		&-add-review-btn-container {
			position: relative;
			height: 100%;
			width: 100%;
		}
	}
}

button {
	&.#{$hic-css-prefix}-place {
		&-details {
			width: 80%;
		}

		&-review-button {
			background: $global-bg-color;
			height: 100%;
			width: 100%;
			@extend .common-text-style-place;
			text-align: center;
		}
	}
}

ion-footer-bar {
	&.#{$hic-css-prefix}-place-footer-bar {
		background: transparent;
		padding: 1px;
	}
}

span {
	&.#{$hic-css-prefix}-place {
		text-align: center;
		width: 95%;

		&-header-info {
			text-align: left;
			@extend .common-text-style-place;
			font-weight: bolder;
			font-size: medium;
		}

		&-text-info {
			@extend .common-text-style-place;
			text-transform: none;
			font-size: small;
		}
	}
}

p {
	&.#{$hic-css-prefix}-place {
		&-details-button-text {
			@extend .common-text-style-place;
			font-size: 5px;
			margin: 0;
			padding: 0;
			color: $global-text-color;
			text-align: center;
		    height: 12px;
		    line-height: 1px;
		}
	}
}

i {
	&.#{$hic-css-prefix}-place {
		&.icon {
			display: table;
			margin: 0 auto;
			margin-top: 12%;
		}
	}
}

h2 {
	&.#{$hic-css-prefix}-place {
		&-header {
			margin-top: 15%;
			color: $global-text-color;
			@extend .common-text-style-place;
			font-size: medium;
		}
	}
}

a {
	&.#{$hic-css-prefix}-place {
		&.item {
			&.activated {
				background-color: $global-text-color;
			}
		}
	}
}

textarea {
	&.#{$hic-css-prefix}-place-review {
		@extend .common-text-style-place;
		color: $global-bg-color;
		text-transform: none;
		border-style: solid;
		border-width: 1px;
		border-color: $global-title-color;
		height: 99%;
	}
}