<!-- Popover html -->
<script id="place-reviews-modal.html" type="text/ng-template">
  <ion-modal-view class="hic-modal-view">
    <ion-content>
    	<div class="hic-place-reviews list">
    	  <div class="card" ng-repeat="review in vm.place.selectedPlace.reviews">
			  <div class="item item-avatar">
			    <img src="img/ionic.png">
			    <h2 class="hic-modal-header">{{ review.user }}</h2>
			    <p class="hic-modal-date">Nov 05, 2015</p>
			  </div>
			  <div class="hic-place-modal-body item item-body">
				<p class="hic-modal-content">
				  {{ review.content }}
				</p>
			  </div>
		  </div>
    	</div>
    </ion-content>
	<ion-footer-bar class="hic-place-footer-bar">
	  	<button class="hic-place-review-button button" ng-click="openAddReviewModal($event)">
			<i class="icon-left ion-ios-compose"> Write your review</i>
		</button>
	</ion-footer-bar>
  </ion-modal-view>
</script>

<script id="place-add-review-modal.html" type="text/ng-template">
  <ion-modal-view class="hic-add-review-modal-view">
    <ion-content>
	  <textarea rows="5" placeholder="Write your review" class="hic-place-review"></textarea>
    </ion-content>
	<ion-footer-bar class="hic-place-footer-bar">
	  	<button class="hic-place-review-button button"><i class="icon-left ion-plus-round"> Add your review</i></button>
	</ion-footer-bar>
  </ion-modal-view>
</script>

<ion-pane>
	<ion-header-bar align-title="center">
	  <button class="button button-clear hic-header-xtreme icon ion-navicon" ng-click="toggleLeft()"></button>
	  <div class="h1 title hic-header-main">HELIOUNCE</div>
	  <button class="button button-clear hic-header-xtreme icon ion-navicon" ng-click="toggleRight()"></button>
	</ion-header-bar>
	<div class="hic-place-details-top-div" has-subheader="true">
		<div class="hic-place-details-trans-wrapper">
			<div class="row">
				<div class="col">
					<h2 class="hic-place-header">
						{{ vm.place.selectedPlace.name }}
					</h2>
				</div>
			</div>
			<div class="hic-place-details-buttons">
				<div class="row">
					<div class="col">
						<button class="hic-place-details button button-outline button-light">
  							<i class="icon ion-thumbsup"></i>
  							<p class="hic-place-details-button-text">LIKE</p>
						</button>
					</div>
					<div class="col">
						<button class="hic-place-details button button-outline button-light">
  							<i class="icon ion-thumbsdown"></i>
  							<p class="hic-place-details-button-text">DISLIKE</p>
						</button>
					</div>
					<div class="col">
					  <button class="hic-place-details button button-outline button-light" ng-click="openReviewsModal($event)">
						<i class="icon ion-ios-compose"></i>
						<p class="hic-place-details-button-text">REVIEW</p>
					  </button>
					</div>
					<div class="col">
						<button class="hic-place-details button button-outline button-light">
  							<i class="icon ion-alert-circled"></i>
  							<p class="hic-place-details-button-text">REPORT</p>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<ion-scroll>
		<div class="hic-home">
			<div class="list">
			    <a class="hic-place item">
	      		  <span class="hic-place-header-info">Facilities</span>
	      		  <div class="hic-place-facility row">
	      		  	<div class="col">
		      		  <div class="hic-place-facility-icon {{ vm.place.wifiAvailable }}">
			      	  	<i class="hic-place icon ion-wifi"></i>
		      		  </div>
	      		  	</div>
	      		  	<div class="col">
		      		  <div class="hic-place-facility-icon {{ vm.place.parkingAvailable }}">
			      	  	<i class="hic-place icon ion-model-s"></i>
		      		  </div>
	      		  	</div>
	      		  	<div class="col">
		      		  <div class="hic-place-facility-icon {{ vm.place.disabledFriendly }}">
			      	  	<i class="hic-place icon ion-medkit"></i>
		      		  </div>
	      		  	</div>
	      		  	<div class="col">
		      		  <div class="hic-place-facility-icon {{ vm.place.cardAvailable }}">
			      	  	<i class="hic-place icon ion-card"></i>
	      		  	  </div>
	      		  	</div>
		      	  </div>
		      	  <hr class="hic" />
	      	  	  <div class="row">
	      	  		<div class="col col-40">
	      		  		<span class="hic-place-header-info">Cost</span>
	      	  		</div>
	      	  		<div class="col col-20">
	      		  		<span class="hic-place-text-info">:</span>
	      	  		</div>
	      	  		<div class="col col-40">
	      		  		<span class="hic-place-text-info">Approx. {{ vm.place.selectedPlace.pricing }}</span>
	      	  		</div>
	      	  	  </div>
	      	  	  <hr class="hic" />
	      	  	  <div class="row">
	      	  		<div class="col col-40">
	      		  		<span class="hic-place-header-info">Rating</span>
	      	  		</div>
	      	  		<div class="col col-20">
	      		  		<span class="hic-place-text-info">:</span>
	      	  		</div>
	      	  		<div class="col col-40">
	      		  		<span class="hic-place-text-info">{{ vm.place.selectedPlace.rating }} / 5</span>
	      	  		</div>
	      	  	  </div>
			    </a>
			    <a class="item" ng-click="openReviewsModal($event)">
		      	  	<div clas="row">
		      	  		<div class="col">
		      		  		<span class="hic-place-header-info">
		      		  			Reviews & Feedback
		      		  			<i class="icon-right ion-android-arrow-dropright"></i>
		      		  		</span>
		      	  		</div>
		      	  	</div>
		      	</a>
			</div>
		</div>
	</ion-scroll>
</ion-pane>