<ion-pane>
	<ion-header-bar align-title="center">
	  <button class="button button-clear hic-header-xtreme icon ion-navicon" ng-click="toggleLeft()"></button>
	  <div class="h1 title hic-header-main">{{ vm.place.selectedPlace.name | uppercase }}</div>
	  <button class="button button-clear hic-header-xtreme icon ion-navicon" ng-click="toggleRight()"></button>
	</ion-header-bar>
	<ion-slides options="vm.home.options" slider="vm.home.data.slider">
	  <ion-slide-page ng-repeat="image in vm.place.selectedPlace.images">
	    <div class="box">
	    	<img ng-src="{{ image }}" height="50%" width="100%" />
	    </div>
	  </ion-slide-page>
	</ion-slides>
	<ion-scroll style="height:60%">
		<div class="hic-home">
			<div class="list">
			    <a class="item">
	      		  <span class="hic-place-header-info">Facilities</span>
	      		  <div class="hic-place-facility row">
	      		  	<div class="col">
		      		  <div class="hic-place-facility-icon {{ vm.place.wifiAvailable }}">
			      	  	<i class="hic-place icon ion-wifi"></i>
		      		  </div>
	      		  	</div>
	      		  	<div class="col">
		      		  <div class="hic-place-facility-icon {{ vm.place.parkingAvailable }}">
			      	  	<i class="hic-place icon ion-model-s"></i>
		      		  </div>
	      		  	</div>
	      		  	<div class="col">
		      		  <div class="hic-place-facility-icon {{ vm.place.disabledFriendly }}">
			      	  	<i class="hic-place icon ion-medkit"></i>
		      		  </div>
	      		  	</div>
	      		  	<div class="col">
		      		  <div class="hic-place-facility-icon {{ vm.place.cardAvailable }}">
			      	  	<i class="hic-place icon ion-card"></i>
	      		  	  </div>
	      		  	</div>
		      	  </div>
			    </a>
			    <a class="item">
		      	  	<div clas="row">
		      	  		<div class="col">
		      		  		<span class="hic-place-header-info">Cost</span>
		      	  		</div>
		      	  		<div class="col">
		      		  		<span class="hic-place-text-info">Approx. {{ vm.place.selectedPlace.pricing }}</span>
		      	  		</div>
		      	  	</div>
			    </a>
			    <a class="item">
		      	  	<div clas="row">
		      	  		<div class="col">
		      		  		<span class="hic-place-header-info">Rating</span>
		      	  		</div>
		      	  		<div class="col">
		      		  		<span class="hic-place-text-info">{{ vm.place.selectedPlace.rating }}</span>
		      	  		</div>
		      	  	</div>
		      	</a>
			    <a class="item">
		      	  	<div clas="row">
		      	  		<div class="col">
		      		  		<span class="hic-place-header-info">Reviews</span>
		      	  		</div>
		      	  		<div class="col">
		      		  		<span class="hic-place-text-info">{{ vm.place.selectedPlace.rating }}</span>
		      	  		</div>
		      	  	</div>
		      	</a>
			</div>
		</div>
	</ion-scroll>
</ion-pane>