$gate-logo-default-opacity: 0.35;
$gate-logo-default-font-size: 20px;
$global-header-title-color: #00AEEF;
$gate-btn-register-bg-color: #00AEEF;

@import 'variables';

.vertical-middle {
  width: 100%;
  margin: auto;
}

@media (max-width: 680px) {
    .active .modal-backdrop-bg {
    	opacity: .5;
    	transition: opacity 300ms ease-in-out;
    	background-color: #000;
    }
}

.side-menu-active-style {
	background-color: $global-title-color;
	color: $global-text-color;
}

ion-item {
	&.#{$hic-css-prefix}-place-type-menu {
		&.side-menu {
			&.item {
				&.active {
					@extend .side-menu-active-style;
				}
			}
		}
	}
}

hr {
	&.#{$hic-css-prefix} {
		border-width: thin;
	}
}

i {
	&.icon {
		font-size: $global-icon-size;
	}
}

div {
	&.swiper-pagination {
		margin-bottom: 10px;
	}

	&.col {
		text-align: center;
	}
}

.item {
	color: $global-title-color;
	text-align: center;
	font-size: $gate-logo-default-font-size;

	&.activated {
		@extend .side-menu-active-style;
	}

	&.item-thumbnail-left {
		color: $global-title-color;
		&.activated {
			background-color: $global-bg-color;
			color: $global-text-color;
		}
	}
}

span {
	&.swiper-pagination-bullet {
		background: $global-title-color;
		margin-bottom: 5px;
	}

	&.side-menu {
		font-size: $global-icon-text-size;
		letter-spacing: 0.1em;
	}
}

ion-slides {	
	height: 40%;
	display: grid;
}

.common-text-style {
	text-transform: uppercase;
	color: $global-text-color;
	font-size: $gate-logo-default-font-size;
	letter-spacing: 0.2em;
	font-weight: bold;
    font-family: opensans-regular;
}

button {
	&.hic-buttons {
		@extend .common-text-style;
		color: $global-second-text-color;
		width: 180px;
		font-size: $global-text-size;

		&.highlight-blue {
 			background: $gate-btn-register-bg-color;
			color: $global-text-color;
		}
	}
}

.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
}

.item-input input {
	@extend .common-text-style;
	color: $global-text-color;
    text-transform: none;
}

.item-floating-label .input-label.has-input {
	@extend .common-text-style;
	color: $global-title-color;
}

.animate-background-move-left {
	from { background-position: bottom left }
	to { background-position: center }
	-webkit-animation: mymove 8s 0.5; /* Chrome, Safari, Opera */
	animation: mymove 8s 0.5;
}

.animate-background-zoom-in {
	background-position: center;
	background-size: 100% 100%;
    -webkit-animation: zoom 5s infinite; /* Chrome, Safari, Opera */
    animation: zoom 5s infinite;
}

h2 {
	&.#{$hic-css-prefix}-modal {
		&-header {
			@extend .common-text-style;
			color: $global-title-color;
			font-size: small;
			font-weight: lighter;
			text-align: left;
		}
	
	}
}

ion-modal-view {
	&.#{$hic-css-prefix} {
		&-modal-view {
			width: 94%; 
			height: 94%;
			min-height: 0;
			max-height: 94%;
			top: 3%;
			left: 3%;
			right: 3%;
			bottom: 3%;
		}

		&-add-review-modal-view {
			width: 60%; 
			height: 30%;
			min-height: 0;
			max-height: 40%;
			top: 35%;
			left: 20%;
			right: 20%;
			bottom: 35%;
		}
	}
}

p {
	&.#{$hic-css-prefix}-modal {
		&-date {
			color: $global-title-color;
			font-size: xx-small;
			font-weight: lighter;
			text-align: left;
			text-transform: uppercase;
		}

		&-content {
			font-family: opensans-regular;
			text-align: left;
			font-size: small;
		}
	
	}
}

textarea {
	width: 100%;
	height: 100%;
	padding-left: 5px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes zoom {
    50% {background-size: 130% 130%;}
}

/* Standard syntax */
@keyframes move-left {
    50% {background-size: 130% 130%;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes move-left {
    50% {background-position: center;}
}

/* Standard syntax */
@keyframes mymove {
    50% {background-position: center;}
}