// File Name: _variables.scss
// Description: File for variable declarations.
// Used by: main.scss
// ------------------------------------------------------------

// ---------------------
// Global css namespace
// ---------------------
$hic-css-prefix: 'hic';

// ---------------------
// Global Background
// ---------------------
$global-bg-color: #171D25;

// ---------------------
// Global Title color
// ---------------------
$global-title-color: #00AEEF;

// ---------------------
// Global Active Link Color
// ---------------------
$global-active-link-color: #7085a1;

// ---------------------
// Global disabled link color
// ---------------------
$global-disabled-link-color: #B2B2B2;

// ---------------------
// Global Header Title color
// ---------------------
$global-header-title-color: #000;

// ---------------------
// Global Header Title Second color
// ---------------------
$global-header-title-second-color: #00AEEF;

// ---------------------
// Global Header Text color
// ---------------------
$global-text-color: #FFF;

// ---------------------
// Global Header Text Second color
// ---------------------
$global-second-text-color: #000;

// ---------------------
// Global Header Text color
// ---------------------
$global-text-size: 19px;

// ---------------------
// Global Icon size
// ---------------------
$global-icon-size: 30px;

// ---------------------
// Global Icon Text size
// ---------------------
$global-icon-text-size: 15px;